[core]
	editor = 'C:/Program Files/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
[merge]
	tool = meld
[diff]
	tool = meld
[mergetool "meld"]
	path = C:\\Program Files (x86)\\Meld\\meld.exe
[alias]
	glog = log --graph --decorate --oneline -n 10
	last = diff --stat HEAD HEAD~1
	lg = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n10
	lg-all = log --all --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	unstage = restore --staged .
